<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../css/reset.css">
  <title>注册登录</title>
</head>
<body>
  <style>
    #guide-detail {
      display: none;
      width: 100%;
    }
  </style>
  <img id="guide-detail" src="" alt="">
</body>
</html>
<script src="../../lib/require.min.js" async="true" defer data-main="../../js/guide_detail"></script>